<!-- wp:template-part {"slug":"header"} /-->

<!-- wp:template-part {"slug":"hero"} /-->

<!-- wp:template-part {"slug":"about"} /-->

<!-- wp:template-part {"slug":"artisans"} /-->

<!-- wp:template-part {"slug":"schedule"} /-->

<!-- wp:separator {"className":"is-style-eagle-feather"} -->
<hr class="wp-block-separator is-style-eagle-feather"/>
<!-- /wp:separator -->

<!-- wp:template-part {"slug":"visit"} /-->

<!-- wp:template-part {"slug":"donate-auction"} /-->

<!-- wp:spacer {"height":"3rem"} -->
<div style="height:3rem" aria-hidden="true"></div>
<!-- /wp:spacer -->

<!-- wp:template-part {"slug":"vendor-cta"} /-->

<!-- wp:spacer {"height":"3rem"} -->
<div style="height:3rem" aria-hidden="true"></div>
<!-- /wp:spacer -->

<!-- wp:template-part {"slug":"footer"} /-->
